<h1>Editing factoryfarmberry</h1>

<%= render "form", factoryfarmberry: @factoryfarmberry %>

<br>

<div>
  <%= link_to "Show this factoryfarmberry", @factoryfarmberry %> |
  <%= link_to "Back to factoryfarmberries", factoryfarmberries_path %>
</div>
