<h1>Editing factoryfarm</h1>

<%= render "form", factoryfarm: @factoryfarm %>

<br>

<div>
  <%= link_to "Show this factoryfarm", @factoryfarm %> |
  <%= link_to "Back to factoryfarms", factoryfarms_path %>
</div>
