<h1>Editing coffeberry</h1>

<%= render "form", coffeberry: @coffeberry %>

<br>

<div>
  <%= link_to "Show this coffeberry", @coffeberry %> |
  <%= link_to "Back to coffeberries", coffeberries_path %>
</div>
