<p>Welcome to mirobe coffee factory</p>

<%# raw allowsthe partial views to be rendered as HTML %>
<div class="about-section">
  <%= render partial: 'about' %>
</div>

<div class="location-section">
  <%= render partial: 'location'  %>
</div>

<div class="contact-section">
  <%= render partial: 'contact'  %>
</div>
