<div id="<%= dom_id farmer %>">
  <p>
    <strong>Phoneno:</strong>
    <%= farmer.phoneNo %>
  </p>

  <p>
    <strong>Nationalid:</strong>
    <%= farmer.nationalId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

</div>
