<h1>Editing farmerberry</h1>

<%= render "form", farmerberry: @farmerberry %>

<br>

<div>
  <%= link_to "Show this farmerberry", @farmerberry %> |
  <%= link_to "Back to farmerberries", farmerberries_path %>
</div>
