/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.navbar-dark {
    background-color: #142D14;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

*{
    font-family: Nunito Sans;
}

body {
    width: 100%;
}

.appContainer{
    margin: 0 !important;
    padding: 0 !important;
}

:root {
    --gray: #727272;
    --grayLL: rgba(114, 114, 114, 0.6);
    --grayLLL: rgba(114, 114, 114, 0.1);
    --grayLLLMenu: rgba(114, 114, 114, 0.7);
    --grayLight: #878787;
    --blue: #2199e0;
    --darkblue: rgba(27, 92, 161, 0.5);
    --panelBCG: #f3f3f9;
    --active:#ccecfb;
}
